h1 {
   color: #CC0000;
}

h2 {
   color: #808080;
}

p {
   color: #000000;
}

#courseInfo {
   width: 33%;
}

#prevWork {
   width 100%;
   display block;
   float left;
}

#prevWork > p {
   display block;
   float right;
}
